## Git attributes.

# Set default behavior to automatically normalize line endings
* text=auto

# Files that will always have LF line endings on checkout
*.sh text eol=lf
Dockerfile text eol=lf

# Diff behavior for common document formats
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
